<div class="sidebar">
    <nav class="adminNav">
        <div class="adminProfile">
            <a href="" class="profileImg" title="<%= userDetails._id %>">
                <img src="/images/<%= userDetails.gender!='male' ? 'female-avatar' : 'male-avatar'%>.png " class="img-fluid">
                <span><%= userDetails.username %></span>
            </a>
        </div>
        <ul class="adminMenu">
            <li><a href="/new-post/<%= userDetails._id %>" class="menubar">New Post</a></li>
            <li><a href="/view-post" class="menubar">View Post</a></li>
            <li><a href="/add-category" class="menubar">Add Category</a></li>
            <li><a href="" class="menubar">Publish Post</a></li>
            <li><a href="" class="menubar">Unpublish Post</a></li>
        </ul>
        <div class="btn-group">
            <a href="/admin-dashboard/logout" class="btn btn-secondary">Logout</a>
            <a href="/admin-register" class="btn btn-info">Register</a>
        </div>
    </nav>
</div>